.blog-page {
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    overflow: scroll;
}

.blog-title {
    margin-top: 20px;
}

.blog-page-container {
    position:relative;
    margin: 0 auto;
    max-width: 700px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-wrap: break-word;
}

