.publish-title {
  margin-top: 40px;
  text-align: center;
}

.bloglist-container {
  margin-top: 40px;
  padding: 15px 20px;
  background-color: #F8F9FA;
  border-radius: 8px;
}

.bloglist-item {
  margin: 15px 0px 15px 0px;
}

