.createblog-title {
  margin-top: 40px;
  text-align: center;
}

.blog-page-container {
  position:relative;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-wrap: break-word;
}
