
.connect-button {
    position: fixed;
    right: 20px;
    width: 125px;
}

.transaction-button {
    position: fixed;
    right: 150px;
}

.header-title {
    position: fixed;
    left: 20px;
}

.account-address-label {
    position: fixed;
    right: 150px;
}