.page {
  position: fixed;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow: scroll;
  padding-bottom: 50px;
}

.subtitle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.subtitle-item {
  font-size: 18px;
  margin: 0 15px 0 15px;
}

.page-container {
  position:relative;
  margin: 0 auto;
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-wrap: break-word;
}

.wide-container {
  max-width: 1200px;
}